
<footer class="footer">
  <ul class="social-icons">
    <li>
      <a href="https://www.facebook.com/yourfacebookpage" target="_blank"><i  class="fab fa-facebook" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="https://twitter.com/yourtwitterhandle" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="https://www.instagram.com/yourinstagramhandle" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
    </li>
    
  </ul>
    <ul class="info">
      <li><a href="">Contact Us</a></li>
      <li><a href="">About Us</a></li>
    </ul>
    <p style="text-align: center;">
    &copy; <%= new Date().getFullYear(); %> Timothy Imbeah & Lartey Emmanuel Teye
    </p>
  </footer>