<header class="header">
    <a href="/" class="header__logo">RES<span>REC</span></a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/">HOME</a>
            </li> 
            <li>
                <a href="/views/preference.ejs" >RECOMMENDER</a>
            </li>
            <li>
                <a href="/views/about.ejs" >ABOUT</a>
            </li>
            <li>
                <a href="/views/userProfile"></a>
            </li>
        </ul>
    </nav>

</header>