<header class="header">
    <a href="/home" class="header__logo">RES<span>REC</span></a>

    <div class="nav-container">
        <div class="bars-container">
            <i class="fas fa-bars bar" aria-hidden="true"></i>
        </div>

        <nav class="header__nav">
            <ul>
                <li>
                    <a href="/home">HOME</a>
                </li> 
                <li>
                    <a href="/preference">RECOMMENDER</a>
                </li>
                <li>
                    <a href="/about">ABOUT</a>
                </li>
                <div class="profile">
                    <a href="/views/userProfile">R</a>
                </div>
            </ul>
        </nav>

    </div>

</header>