<div class="about-wrapper">
    <div class="about-container">
        <div class="about-img-container">
            <img src="/img/cartoon.jpg" alt="people welcoming you">
        </div>
        <div class="about-content-container">
            <div class="about-content-inner-container">
                <div class="about-content">
                    <h1 class="align-center">ABOUT US</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit ratione doloribus harum autem id blanditiis ipsa similique deserunt iste. Alias labore, cum saepe hic minima molestiae perferendis eveniet doloribus suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium eligendi id nesciunt atque consequatur consequuntur ad mollitia expedita itaque iusto cum, quam animi officiis eos! Et blanditiis tempore voluptatibus ratione.</p>
                    <div>
                        <button class="about-btn">GET STARTED</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>