<div class="home-topic">OUR RECOMMENDATION</div>

    <div class="container">
      <div class="card">
      <p>Title</p>
      <p>A Test</p>
  </div>
  <div class="card">
      <p>Title</p>
      <p>A Test</p>
  </div><div class="card">
      <p>Title</p>
      <p>A Test</p>
  </div><div class="card">
      <p>Title</p>
      <p>A Test</p>
  </div><div class="card">
      <p>Title</p>
      <p>A Test</p>
  </div><div class="card">
      <p>Title</p>
      <p>A Test</p>
  </div><div class="card">
      <p>Title</p>
      <p>A Test</p>
  </div><div class="card">
      <p>Title</p>
      <p>A Test</p>
  </div><div class="card">
      <p>Title</p>
      <p>A Test</p>
  </div><div class="card">
      <p>Title</p>
      <p>A Test</p>
  </div><div class="card">
      <p>Title</p>
      <p>A Test</p>
  </div><div class="card">
      <p>Title</p>
      <p>A Test</p>
  </div><div class="card">
      <p>Title</p>
      <p>A Test</p>
  </div><div class="card">
      <p>Title</p>
      <p>A Test</p>
  </div><div class="card">
      <p>Title</p>
      <p>A Test</p>
  </div><div class="card">
      <p>Title</p>
      <p>A Test</p>
  </div><div class="card">
      <p>Title</p>
      <p>A Test</p>
  </div>
    </div>

  <div class="wrapper-main">
    <div class="home-btn">SEARCH FOR OTHER MATERIALS</div>
  </div>
