<div class="home-topic">OUR RECOMMENDATION</div>

<div class="grid-container">
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
</div>
<!-- <div class="home-btn">SEARCH FOR OTHER MATERIALS</div> -->
<div class="home-btn-container">
    <button class="home-btn" type="submit">SEARCH FOR OTHER MATERIALS</button>
</div>
