
<div class="wrapper-main">
    <div class="wrapper">
        <form class="preference" action="">
            <h1>RESOURCE RECOMMENDER</h1>
            <h4>PLEASE COMPLETE THE FORM TO GET SOME TOP RESORCES</h4>
            <hr>
            <div class="container-pref">
                <div class="interest">
                    <select name="interest" id="interest" class="interest-type" required>
                        <option value="" disabled selected >CHOOSE CATEGORY</option>
                        <option value="option1" >Videos</option>
                        <option value="option2">Udemy Courses</option>
                        <option value="option3">Google Books</option>
                    </select>
                </div>
                <div class="resourceType">
                    <select name="resourceType" id="resourceType" class="resource-type" required>
                        <option value="" disabled selected >CHOOSE RESOURCE TYPE </option>
                        <option value="option1" >Videos</option>
                        <option value="option2">Udemy Courses</option>
                        <option value="option3">Google Books</option>
                    </select>
                </div>
                <div class="topic">
                    <input type="text" maxlength="50" class="topic" placeholder="ENTER TOPIC" required>
                </div>
                <div>
                    <button class="btn" type="submit">GET RESOURCES</button>
                </div>
            </div>
        </form>
    </div>
</div>

