<nav class="resource__nav">
    <ul>
        <li><a href="">YOUTUBE</a></li>
        <li><a href="">UDEMY COURSES</a></li>
        <li><a href="">GOOGLE BOOKS</a></li>
    </ul>
</nav>

<div class="home-topic">RECOMMENDED FOR YOU</div>

<div class="container">
    <div class="card">
        <p>Title</p>
        <p>A Test</p>
    </div>
    <div class="card">
        <p>Title</p>
        <p>A Test</p>
    </div><div class="card">
        <p>Title</p>
        <p>A Test</p>
    </div><div class="card">
        <p>Title</p>
        <p>A Test</p>
    </div><div class="card">
        <p>Title</p>
        <p>A Test</p>
    </div><div class="card">
        <p>Title</p>
        <p>A Test</p>
    </div><div class="card">
        <p>Title</p>
        <p>A Test</p>
    </div><div class="card">
        <p>Title</p>
        <p>A Test</p>
    </div><div class="card">
        <p>Title</p>
        <p>A Test</p>
    </div><div class="card">
        <p>Title</p>
        <p>A Test</p>
    </div><div class="card">
        <p>Title</p>
        <p>A Test</p>
    </div><div class="card">
        <p>Title</p>
        <p>A Test</p>
    </div><div class="card">
        <p>Title</p>
        <p>A Test</p>
    </div><div class="card">
        <p>Title</p>
        <p>A Test</p>
    </div><div class="card">
        <p>Title</p>
        <p>A Test</p>
    </div><div class="card">
        <p>Title</p>
        <p>A Test</p>
    </div><div class="card">
        <p>Title</p>
        <p>A Test</p>
    </div>
</div>

