<nav class="resource__nav">
    <ul>
        <li><a href="">YOUTUBE</a></li>
        <li><a href="">UDEMY COURSES</a></li>
        <li><a href="">GOOGLE BOOKS</a></li>
    </ul>
</nav>

<div class="home-topic">RECOMMENDED FOR YOU</div>

<div class="grid-container">
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container"><img src="/img/city1.jpg" alt=""></div>
        <div class="card-content">
            <h2>Card Title</h2>
            <p>Card description 1 goes here. This is a brief description of the card content.</p>
        </div>
    </div>
</div>

