<div class="welcome-wrapper">
    <div class="user-details">
        <div class="welcome-container">
            <div class="greet-user poppins-semibold">
                Welcome User
            </div>
            <div class="date">
                <span id="date"></span>
                <span id="time"></span>
            </div>
        </div>
    </div>
    <div class="process-wrapper">
        <p class="instruction">CHOOSE ONE OPTION TO CONTINUE</p>
        <div class="options">
            <div class="options-set-1">
                <div class="option-container">
                    <a class="link" href="/transfer">
                        <div class="option-text">
                            <div class="poppins-black" class="transaction">TRANSFER FUNDS</div>
                            <div class="trans-details">Transfer fund to another account</div>
                        </div>
                    </a>
                </div>
                
                <div class="option-container">
                    <a class="link" href="/balance">
                        <div class="option-text">
                            <div class="poppins-black" class="poppins-black" class="transaction">BALANCE ENQUIRY</div>
                            <div class="trans-details">Check the balance of your account</div>
                        </div>
                    </a> 
                </div>

                <div class="option-container">
                    <a class="link" href="/mini-statement">
                        <div class="option-text">
                            <div class="poppins-black" class="transaction">MINI STATEMENT</div>
                            <div class="trans-details">Get a mini statement of your account</div>
                        </div>
                    </a> 
                </div>
            </div>

            <div class="options-set-2">
                <div class="option-container">
                    <a class="
                    link" href="/withdrawal">
                        <div class="option-text">
                            <div class="poppins-black" class="transaction">WITHDRAWAL</div>
                            <div class="trans-details">Withdraw money from your account</div>
                        </div>
                    </a>
                    
                </div>
                <div class="option-container">
                    <a class="link" href="/cash-deposit">
                        <div class="option-text">
                            <div class="poppins-black" class="transaction">CASH DEPOSIT</div>
                            <div class="trans-details">Deposit cash into your account here</div>
                        </div>
                    </a> 
                </div>
                <div class="option-container">
                        <a class="link" href="change-pin">

                            <div class="option-text">
                                <div class="poppins-black" class="transaction">CHANGE PIN</div>
                                <div class="trans-details">Change your ATM/Debit card pin here</div>
                            </div>
                        </a>
                </div>
            </div>
        </div>
    </div>

    <div class="logout" id="logoutBtn">
        <button class="btn" type="button">LOGOUT</button>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-content">
            <div class="modal-header">
                <p>Logout</p>
                <span id="closeBtn" class="close">&times;</span>
            </div>

            <p class="logtext">Do you want to Logout?</p>

            <div class="buttons">
                <button id="yesBtn" class="yes" type="button">Yes</button>
                <button id="noBtn" class="no" type="button">No</button>
            </div>

        </div>
    </div>
    
</div>